aside {
  min-width: 7vw;
  padding: 3rem 0;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 40%;
}
.logo img {
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4vh;
  margin-top: 12rem;
  width: 100%;
}

aside i {
  position: relative;
  color: var(--grey);
  font-size: 1.4vw;
  align-items: center;
  cursor: pointer;
  padding: 1.4vw 0;
  width: 100%;
  text-align: center;
}

aside i::after {
  content: "";
  background-color: var(--primary);
  display: none;
  height: 100%;
  width: 4px;
  position: absolute;
  top: 50%;
  left: 0px;
  translate: 0 -50%;
}

aside i.activated {
  color: var(--primary);
}

aside i.activated::after {
  display: block;
}

.logout {
  display: flex;
  flex: 1;
  align-items: flex-end;
}
